[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
gunicorn = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
# dev = "bash -c \"export FLASK_ENV='development' && flask run\""
dev = "bash -c \"export FLASK_DEBUG=true && flask run\""
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."

#* Mac
# start = "gunicorn app:app"
# start = "gunicorn student:app"
#* Windows
# start = "waitress-serve --listen=127.0.0.1:5000 app:app"
start = "waitress-serve --listen=127.0.0.1:5000 student:app"

init_db = "py init_db.py"
